
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#chartdiv {
  width: 100%;
  height: 600px;
  max-width: 100%;
}

.container {
    background-color: lightblue;
    box-shadow: 2px 2px 2px gray;
}

.navbar {
    background-color: lightgrey;
    font-weight:bold;
}

.navbar a {
    color:black;
}