{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>WeHost</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
</head>

<body>
    {% block main %}

    {% endblock %}
</body>
</html>

