<!DOCTYPE html>
<html lang="en">
<head>
 <title>WeHost</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"> 
<style>

 .fakeimg {
   height: 200px;
   background: #aaa;
 }
 </style>


</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
 <h1>WeHost</h1>
 <p>---</p>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="test">
 <a class="navbar-brand" href="#">
  <i class="far fa-file-word"></i>
 </a>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="collapsibleNavbar">
   <ul class="navbar-nav w-100">
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Probabilités
       </a>
       <div class="dropdown-menu">
         <a class="dropdown-item" href="#">Loi de Bernouilli</a>
         <a class="dropdown-item" href="#">Loi Binomiale</a>
         <a class="dropdown-item" href="#">Loi Géométrique</a>
       </div>
     </li>
    <a type="button" class="btn btn-danger rounded-0 justify-content-end " href="{% url 'logout' %}">
      <i class="fas fa-power-off"></i> Deconnexion
    </a>
   </ul>
 </div>
</nav>
<div class="container" style="margin-top:30px">
 <div class="row">
   <div class="col-sm-5 mx-auto">
     <div class="card mb-3 p-4">       
      <div class="custom-file mt-3 mb-3">
      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
      <label class="custom-file-label" for="validatedCustomFile">Charger un fichier...</label>
      <div class="invalid-feedback">Fichier invalide</div>
    </div>
    <input type="submit" class="btn btn-dark btn-success float-right mt-4 rounded-0" value="Envoyer">
  </div>
   </div>
     
     <br>
 </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
 <p>Footer</p>
</div>
</body>
</html>